<h3> Destination Page </h3>





Average Blogger Age: <%= @destination.avg_age %>
<br>
<br>

Most Recent Posts:
<% @destination.most_recent_posts.each do |post| %>
    <li> <%= post.title%> </li>
    <br>
<% end %>

<%= link_to 'Featured Post', post_path(@destination.featured_post) %>